body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background-color: #1f1f1f;
  }
  
  input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  #movieContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .movie-card {
    background-color: #1f1f1f;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card h3 {
    padding: 10px;
    font-size: 1rem;
  } 