body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background-color: #1f1f1f;
  }
  #fav{
   
    text-decoration: none;
  }
  
  input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  #movieContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .movie-card {
    background-color: #1f1f1f;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card h3 {
    padding: 10px;
    font-size: 1rem;
  } 
  #movieTitle {
    text-align: center;
  }

  .details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    padding-left: 5rem;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .details-container img {
    min-width: 400px;
    border-radius: 8px;
  }
  
  .description {
    flex: 1;
    min-width: 300px;
    margin-top: 100px;
  }
  
  .download button {
    margin: 0.5rem 0;
    background-color: #0078D4;
    border: none;
    padding: 1rem 1rem;
    border-radius: 4px;
    margin-right: 10px;
  
  }
  
  .download a {
    color: white;
    text-decoration: none;
  }
  @media (max-width: 600px) {
    .details-container {
      flex-direction: column;
      padding: 1rem;
    }
    img {
      width: 100%;
    }
  }
  
  button{
    margin:2rem;
    padding: 0.7rem;
  }


  footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #aaa;
  }

  .actions button {
    color: #fff;
    background-color: #0078D4;
    margin-top: 1rem;
  }


  .movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
}
.movie-card {
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}
.movie-card img {
  width: 100%;
  border-radius: 4px;
}
.movie-card button {
  margin-top: 0.5rem;
  background-color: #0078D4;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}
